@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
:root{
    --primary-color:#ffff38;
}

body{
    margin:auto;
    font-family: 'Crimson Text' , sans-serif;
}


#heading {
    margin: 0;
    text-align: center;
    padding: 30px;
    background-color: var(--primary-color);
    color:#8066FF ;
    font-size: 30px;
    
    
}
textarea {
    padding: 1rem;
    box-sizing: border-box;
    margin: 2rem;
    font-size: 2px;
    border: 2px solid #8066FF;
    width: 100%;
    border-radius:1rem;
    margin: auto;
    height: 10vh;
}
button {
    padding:0.5rem;
    margin: 0.5rem;
    font-size: 16px;
    border-radius: 14px;
    display: inline-block;
    margin-left: 1rem;
    border: 2px solid #8066FF;
    background-color: white;
    width: 100px;
    transition-duration: 0.4s;
}
button:hover{
    background-color:  var(--primary-color);

}
.img {
    max-width: 150px;
    display: block;
    margin: auto;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.placeholder {
    font-family:'Crimson Text' , sans-serif;
    font-size: 1.5rem;
    color: #c0b7b7;
}
#output {
    padding: 1rem;
    box-sizing: border-box;
    margin: 2rem;
    border: 2px solid #8066FF;
    width: 100%;
    border-radius: 1rem;
    height: 15vh;
    margin: auto;
    font-size: large;
    
  }
  .container {
      text-align: center;
  }
  .container-center{
    padding: 1rem 1rem;
    max-width: 800px;
    margin: auto;
  
  }

.footer {
    padding: 2rem 0rem;
    text-align: center;
    color: #8066FF;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size:12px ;
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
  }
  .footer .link {
    color:gray;
  }
  
  .footer ul {
    padding-inline-start: 0px;
  }
  .footer__icon {
    font-size: 1.5rem;
    color: #8066FF ;
    margin: 1rem;
  }
  .footer__icon:hover {
    color: gray;
  }
